.n-page-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
    font-size: var(--n-font-size);

}

.n-page-header .n-page-header__main {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}



.n-page-header .n-page-header__avatar {

    display: flex;
    margin-right: 12px
}

.n-page-header .n-page-header__title {

    margin-right: 16px;
    transition: color .3s var(--n-bezier);
    font-size: var(--n-title-font-size);
    font-weight: 600;
    color: var(--n-title-text-color);

}

.n-page-header-content:not(:first-child) {
    margin-top: 20px;
}

.n-page-header-footer:not(:first-child) {
    margin-top: 20px;
}

.n-table {

    font-size: var(--n-font-size);
    font-variant-numeric: tabular-nums;
    line-height: var(--n-line-height);
    width: 100%;
    border-radius: var(--n-border-radius) var(--n-border-radius) 0 0;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    background-color: var(--n-td-color);
    border-color: var(--n-merged-border-color);
    transition: background-color .3s var(--n-bezier),
    border-color .3s var(--n-bezier),
    color .3s var(--n-bezier);
    --n-merged-border-color: var(--n-border-color);

}

.n-table th {

    white-space: nowrap;
    transition:
            background-color .3s var(--n-bezier),
            border-color .3s var(--n-bezier),
            color .3s var(--n-bezier);
    text-align: inherit;
    padding: var(--n-th-padding);
    vertical-align: inherit;
    text-transform: none;
    border: 0px solid var(--n-merged-border-color);
    font-weight: var(--n-th-font-weight);
    color: var(--n-th-text-color);
    background-color: var(--n-th-color);
    border-bottom: 1px solid var(--n-merged-border-color);
    border-right: 1px solid var(--n-merged-border-color);

}



.n-table td {

    transition:
            background-color .3s var(--n-bezier),
            border-color .3s var(--n-bezier),
            color .3s var(--n-bezier);
    padding: var(--n-td-padding);
    color: var(--n-td-text-color);
    background-color: var(--n-td-color);
    border: 0px solid var(--n-merged-border-color);
    border-right: 1px solid var(--n-merged-border-color);
    border-bottom: 1px solid var(--n-merged-border-color);

}



.n-table.n-table--bordered {

    border: 1px solid var(--n-merged-border-color);
    border-radius: var(--n-border-radius);

}


.n-table.n-table--single-line th {

    border-right: 0px solid var(--n-merged-border-color);

}

.n-table.n-table--single-line td {

    border-right: 0px solid var(--n-merged-border-color);

}






.n-button {
    margin: 0;
    line-height: 1;
    font-family: inherit;
    padding: var(--n-padding);
    height: var(--n-height);
    font-size: var(--n-font-size);
    border-radius: var(--n-border-radius);
    color: var(--n-text-color);
    background-color: var(--n-color);
    width: var(--n-width);
    white-space: nowrap;
    outline: none;
    position: relative;
    z-index: auto;
    border: none;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: color .3s var(--n-bezier),
    background-color .3s var(--n-bezier),
    opacity .3s var(--n-bezier),
    border-color .3s var(--n-bezier);

}


.n-button:not(.n-button--disabled):hover {
    background-color: var(--n-color-hover);
    color: var(--n-text-color-hover);
}




.n-button .n-button__border,
.n-button .n-button__state-border {

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transition: border-color .3s var(--n-bezier);
    pointer-events: none;

}

.n-button .n-button__border {
    border: var(--n-border);
}



.n-button .n-button__icon {

    margin: var(--n-icon-margin);
    margin-left: 0;
    height: var(--n-icon-size);
    width: var(--n-icon-size);
    max-width: var(--n-icon-size);
    font-size: var(--n-icon-size);
    position: relative;
    flex-shrink: 0;

}



.n-card {

    font-size: var(--n-font-size);
    line-height: var(--n-line-height);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: var(--n-border-radius);
    background-color: var(--n-color);
    color: var(--n-text-color);
    word-break: break-word;
    transition: color .3s var(--n-bezier),
    background-color .3s var(--n-bezier),
    box-shadow .3s var(--n-bezier),
    border-color .3s var(--n-bezier);

}

.n-card>.n-card-header {

    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: var(--n-title-font-size);
    padding:
            var(--n-padding-top) var(--n-padding-left) var(--n-padding-bottom) var(--n-padding-left);

}

.n-card>.n-card-header .n-card-header__main {

    font-weight: var(--n-title-font-weight);
    transition: color .3s var(--n-bezier);
    flex: 1;
    color: var(--n-title-text-color);

}

.n-card>.n-card-header .n-card-header__extra {

    display: flex;
    align-items: center;
    font-size: var(--n-font-size);
    font-weight: 400;
    transition: color .3s var(--n-bezier);
    color: var(--n-text-color);

}

.n-card>.n-card__content {
    flex: 1;
}

.n-card>.n-card__content,
.n-card>.n-card__footer {

    box-sizing: border-box;
    padding: 0 var(--n-padding-left) var(--n-padding-bottom) var(--n-padding-left);
    font-size: var(--n-font-size);

}

.n-card>.n-card__content:first-child,
.n-card>.n-card__footer:first-child {
    padding-top: var(--n-padding-bottom);
}





.n-card.n-card--bordered {

    border: 1px solid var(--n-border-color);

}

.avatar-img{
    width: 30px;
}


.n-scrollbar {
    padding-left: 10%;
    padding-top: 2%;
    overflow: hidden;
    position: relative;
    z-index: auto;
    height: 100%;
    width: 100%;

}

.n-icon svg {
    height: 1em;
    width: 1em;
}


body {

    margin: 0;
    font-size: 14px;
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


/*}*/
.n-grid{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 20px;
}